.paginationButtons{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationButtons a{
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
    transition: all 0.25s linear ease-in;
}

.paginationButtons a:hover,
.paginationActive a{
    color: white;
    background-color: #2b2eff;
}

