table.userlist {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table.userlist td, table.userlist th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
  }
  
  table.userlist  tbody:nth-child(even) {
    background-color: #dddddd;
  }